<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/test/details.css">
    <title>Title</title>
    <style>
        .daohang li{
            margin-top: 5px;
        }
        .daohang li a{
            background: #d8fffa;
        }
        .daohang{
            margin-left: 2%;
        }
        body{
            position: relative;
        }
        #up{
            position: fixed;
            z-index: 1234;
            width:3%;
            right:2%;
            top:550px
        }
    </style>
</head>
<body>
<img src="/img/up.png" alt=".." id="up">
<div class="firstwid">
    <div class="container">
        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6">
            <img src="/img/top1_r1_c1.gif" alt="..">
        </div>
        <div class="col-lg-6 character">
            后台管理系统
            <button id="back" class="btn btn-danger">退出</button>
        </div>
    </div>
    <div>
        <b>&nbsp;快捷操作：</b>
        <ul class="nav nav-pills daohang">
            <li role="presentation"><a href="#question" >题库</a></li>
            <li role="presentation"><a href="#intersite">网址库</a></li>
            <li role="presentation"><a href="#teachmessage">教师信息库</a></li>
            <li role="presentation"><a href="#classmessage">课程信息库</a></li>
            <li role="presentation"><a href="#booksmessage">教材建设信息库</a></li>
            <li role="presentation"><a href="#bookinfor">教材简介信息库</a></li>
            <li role="presentation"><a href="#refbookmessage">参考教材信息库</a></li>
            <li role="presentation"><a href="#teachthingsmessage">教学信息库</a></li>
            <li role="presentation"><a href="#teachcalender">教学日历库</a></li>
            <li role="presentation"><a href="#courseupload">教学课件库</a></li>
            <li role="presentation"><a href="#exerciseupload">作业习题库</a></li>
            <li role="presentation"><a href="#teachdifficulty">章节中重难点库</a></li>
            <li role="presentation"><a href="#teachreformmessage">教学改革库</a></li>
            <li role="presentation"><a href="#testrefmessage">考试改革库</a></li>
            <li role="presentation"><a href="#intertestmessage">网络教学信息库</a></li>
            <li role="presentation"><a href="#booksimgmessage">书籍图片信息</a></li>
            <li role="presentation"><a href="#thesismessage">发表的论文信息</a></li>
            <li role="presentation"><a href="#teachievemessage">教学成果奖</a></li>
            <li role="presentation"><a href="#mastermessage">硕士生论文</a></li>
            <li role="presentation"><a href="#doublelanteachmessage">双语教学教师队伍</a></li>
            <li role="presentation"><a href="#doublebookmessage">双语教材</a></li>
            <li role="presentation"><a href="#doublewaremessage">双语教学课件</a></li>
            <li role="presentation"><a href="#doublerefmessage">双语教学参考文献</a></li>
            <li role="presentation"><a href="#doublecoursemessage">双语教学习题</a></li>
            <li role="presentation"><a href="#doubletestmessage">双语教学试卷</a></li>
            <li role="presentation"><a href="#testteachmessage">实验教学信息</a></li>
            <li role="presentation"><a href="#testwaremessage">实验教学课件</a></li>
            <li role="presentation"><a href="#testcoursemessage">实验教学学生作业</a></li>
            <li role="presentation"><a href="#testtitlemessage">实验教学题目及其答案</a></li>
            <li role="presentation"><a href="#testexamplemessage">实验教学实例</a></li>
            <li role="presentation"><a href="#">教学录像</a></li>
            <li role="presentation"><a href="#teachievemsgmessage">教学管理</a></li>
            <li role="presentation"><a href="#teachconmsgmessage">教学效果</a></li>
        </ul>
    </div>
    <!--题库操作部分-->
    <div class="container">
        <b>后台页面：</b>
        <ul class="nav nav-pills">
            <li role="presentation"><a href="/admin/admin" target="_blank">用户列表</a></li>
            <li role="presentation"><a href="/admin/test" target="_blank">题库</a></li>
            <li role="presentation"><a href="/admin/site" target="_blank">网址库</a></li>
            <li role="presentation"><a href="/admin/teacher" target="_blank">教师信息库</a></li>
            <li role="presentation"><a href="/admin/class" target="_blank">课程信息库</a></li>
            <li role="presentation"><a href="/admin/build" target="_blank">教材建设信息库</a></li>
            <li role="presentation"><a href="/admin/summary" target="_blank">教材简介信息库</a></li>
            <li role="presentation"><a href="/admin/refe" target="_blank">参考教材信息库</a></li>
            <li role="presentation"><a href="/admin/teachmsg" target="_blank">教学信息库</a></li>
            <li role="presentation"><a href="/admin/calendermsg" target="_blank">教学日历库</a></li>
            <li role="presentation"><a href="/admin/coursemsg" target="_blank">教学课件库</a></li>
            <li role="presentation"><a href="/admin/exercisemsg" target="_blank">作业习题库</a></li>
            <li role="presentation"><a href="/admin/important" target="_blank">章节中重难点库</a></li>
            <li role="presentation"><a href="/admin/teachreforms" target="_blank">教学改革库</a></li>
            <li role="presentation"><a href="/admin/testref" target="_blank">考试改革库</a></li>
            <li role="presentation"><a href="/admin/interteachmain" target="_blank">网络教学信息库</a></li>
            <li role="presentation"><a href="/admin/bookachieve" target="_blank">书籍图片信息</a></li>
            <li role="presentation"><a href="/admin/thesis" target="_blank">发表的论文</a></li>
            <li role="presentation"><a href="/admin/teachieve" target="_blank">教学成果</a></li>
            <li role="presentation"><a href="/admin/master" target="_blank">硕士生毕业论文</a></li>
            <li role="presentation"><a href="/admin/doubleteacher" target="_blank">双语教学教师队伍</a></li>
            <li role="presentation"><a href="/admin/doublebook" target="_blank">双语教材</a></li>
            <li role="presentation"><a href="/admin/doubleware" target="_blank">双语教学课件</a></li>
            <li role="presentation"><a href="/admin/doubleref" target="_blank">双语教学参考文献</a></li>
            <li role="presentation"><a href="/admin/doublecourse" target="_blank">双语教学习题</a></li>
            <li role="presentation"><a href="/admin/doubletest" target="_blank">双语教学试卷</a></li>
            <li role="presentation"><a href="/admin/testteachs" target="_blank">实验教学信息</a></li>
            <li role="presentation"><a href="/admin/testware" target="_blank">实验教学课件</a></li>
            <li role="presentation"><a href="/admin/testcourse" target="_blank">实验教学学生作业</a></li>
            <li role="presentation"><a href="/admin/testtitle" target="_blank">实验教学题目及答案</a></li>
            <li role="presentation"><a href="/admin/testexample" target="_blank">实验教学实例</a></li>
            <li role="presentation"><a href="/admin/" target="_blank">教学录像</a></li>
            <li role="presentation"><a href="/admin/teachievemsg" target="_blank">教学管理</a></li>
            <li role="presentation"><a href="/admin/teachconmsg" target="_blank">教学效果</a></li>
        </ul>
        <div id="question">
        <h3>添加题目模块：</h3>
        <form action="/admin/addtest" method="post" class="form-horizontal center">
        <div class="form-group">
            <label for="ask" class="col-md-2 control-label">题目内容：</label>
            <div class="col-md-4">
                <input type="text" id="ask" class="form-control" placeholder="请输入题目内容" name="ask">
            </div>
        </div>
        <div class="form-group">
            <label for="answers1" class="col-md-2 control-label">选项A：</label>
            <div class="col-md-4">
                <input type="text" id="answers1" class="form-control" placeholder="题目选项1" name="answers1">
            </div>
        </div>
        <div class="form-group">
            <label for="answers2" class="col-md-2 control-label">选项B：</label>
            <div class="col-md-4">
                <input type="text" id="answers2" class="form-control" placeholder="题目选项2" name="answers2">
            </div>
        </div>
        <div class="form-group">
            <label for="answers3" class="col-md-2 control-label">选项C：</label>
            <div class="col-md-4">
                <input type="text" id="answers3" class="form-control" placeholder="题目选项3" name="answers3">
            </div>
        </div>
        <div class="form-group">
            <label for="answers4" class="col-md-2 control-label">选项D：</label>
            <div class="col-md-4">
                <input type="text" id="answers4" class="form-control" placeholder="题目选项4" name="answers4">
            </div>
        </div>
        <div class="form-group">
            <label for="rightanswer" class="col-md-2 control-label">答案：</label>
            <div class="col-md-4">
                <input type="text" id="rightanswer" class="form-control" placeholder="请输入正确答案" name="rightanswer">
            </div>
        </div>
        <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
            <button class="btn btn-primary" type="submit">确认添加</button>
        </div>
            <%if(mes.statusCode===0){%>
            <p class="msg"><%=mes.msg%></p>
            <%}%>
    </form>
        </div>
        <!--设置其他模块的后台操作-->
        <div id="intersite">
            <br>
        <h3>添加网址模块：</h3>
        <form action="/admin/addsite" method="post" class="form-horizontal center">
            <div class="form-group">
                <label for="site" class="col-md-2 control-label">网址：</label>
                <div class="col-md-4">
                    <input type="text" id="site" class="form-control" placeholder="请输入网址" name="site">
                </div>
            </div>
            <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
                <button class="btn btn-primary" type="submit">确认添加</button>
            </div>
            <%if(mes.statusCode===1){%>
            <p class="msg"><%=mes.msg%></p>
            <%}%>
        </form>
        </div>
        <!--教师信息-->
        <div id="teachmessage">
            <br>
            <h3>添加教师模块：</h3>
            <form action="/admin/addteacher" method="post" enctype="multipart/form-data" class="form-horizontal center">
                <div class="form-group">
                    <label for="teachname" class="col-md-2 control-label">姓名：</label>
                    <div class="col-md-4">
                        <input type="text" id="teachname" class="form-control" placeholder="请输入教师姓名" name="teachname">
                    </div>
                </div>
                <div class="form-group">
                    <label for="teachsex" class="col-md-2 control-label">性别：</label>
                    <div class="col-md-4">
                        <input type="text" id="teachsex" class="form-control" placeholder="请输入教师性别" name="teachsex">
                    </div>
                </div>
                <div class="form-group">
                    <label for="teachbir" class="col-md-2 control-label">出生年月：</label>
                    <div class="col-md-4">
                        <input type="text" id="teachbir" class="form-control" placeholder="请输入教师出生年月" name="teachbir">
                    </div>
                </div>
                <div class="form-group">
                    <label for="teachacade" class="col-md-2 control-label">职称：</label>
                    <div class="col-md-4">
                        <input type="text" id="teachacade" class="form-control" placeholder="请输入教师职称" name="teachacade">
                    </div>
                </div>
                <div class="form-group">
                    <label for="teachtel" class="col-md-2 control-label">电话：</label>
                    <div class="col-md-4">
                        <input type="text" id="teachtel" class="form-control" placeholder="请输入电话" name="teachtel">
                    </div>
                </div>
                <div class="form-group">
                    <label for="teachemail" class="col-md-2 control-label">邮箱：</label>
                    <div class="col-md-4">
                        <input type="text" id="teachemail" class="form-control" placeholder="请输入email" name="teachemail">
                    </div>
                </div>
                <div class="form-group">
                    <label for="teachabs" class="col-md-2 control-label">简介：</label>
                    <div class="col-md-4">
                        <input type="text" id="teachabs" class="form-control" placeholder="请输入教师简介" name="teachabs">
                    </div>
                </div>
                <div class="form-group">
                    <label for="file" class="col-lg-2 control-label">上传教师图片:</label>
                    <div class="col-md-4">
                        <input type="file" name="file" id="file" class="form-control">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===2){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <!--课程信息模块-->
        <div id="classmessage">
            <br>
            <h3>添加课程模块：</h3>
            <h5 style="color: red;" class="text-center">友情提示：修改请进入具体页面进行！！否则无法生效！</h5>
            <form action="/admin/addclass" method="post" class="form-horizontal center">
                <div class="form-group">
                    <label for="classmsg" class="col-md-2 control-label">课程简介：</label>
                    <div class="col-md-4">
                        <input type="text" id="classmsg" class="form-control" placeholder="请输入课程信息" name="classmsg">
                    </div>
                </div>
                <div class="form-group">
                    <label for="feater" class="col-md-2 control-label">课程特色：</label>
                    <div class="col-md-4">
                        <input type="text" id="feater" class="form-control" placeholder="请输入课程特色" name="feater">
                    </div>
                </div>
                <div class="form-group">
                    <label for="teaching" class="col-md-2 control-label">教学理念：</label>
                    <div class="col-md-4">
                        <input type="text" id="teaching" class="form-control" placeholder="请输入教学理念" name="teaching">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===3){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <!--教材建设历程-->
        <div id="booksmessage">
            <br>
            <h3>添加教材建设模块：</h3>
            <form action="/admin/addbuild" method="post" class="form-horizontal center">
                <div class="form-group">
                    <label for="author" class="col-md-2 control-label">作者：</label>
                    <div class="col-md-4">
                        <input type="text" id="author" class="form-control" placeholder="请输入作者姓名" name="author">
                    </div>
                </div>
                <div class="form-group">
                    <label for="bookname" class="col-md-2 control-label">教材名称：</label>
                    <div class="col-md-4">
                        <input type="text" id="bookname" class="form-control" placeholder="请输入教材名称" name="bookname">
                    </div>
                </div>
                <div class="form-group">
                    <label for="publish" class="col-md-2 control-label">出版社：</label>
                    <div class="col-md-4">
                        <input type="text" id="publish" class="form-control" placeholder="请输入出版社名称" name="publish">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===4){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <!--参考书信息-->
        <div id="refbookmessage">
            <br>
            <h3>添加参考书信息模块：</h3>
            <form action="/admin/addreferen" method="post" class="form-horizontal center">
                <div class="form-group">
                    <label for="bookmsg" class="col-md-2 control-label">图书信息：</label>
                    <div class="col-md-4">
                        <input type="text" id="bookmsg" class="form-control" placeholder="请输入图书信息" name="bookmsg">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===5){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <!--教材简介信息-->
        <div id="bookinfor">
            <br>
            <h3>添加教材简介信息模块：</h3>
            <!--此段代码后期可以删除-->
            <h5 style="color: red;" class="text-center">友情提示：修改请进入具体页面进行！！否则无法生效！</h5>
            <form action="/admin/addsummary" method="post" class="form-horizontal center">
                <div class="form-group">
                    <label for="booksum" class="col-md-2 control-label">教材简介：</label>
                    <div class="col-md-4">
                        <input type="text" id="booksum" class="form-control" placeholder="请输入教材简介信息" name="booksum">
                    </div>
                </div>
                <div class="form-group">
                    <label for="premsg" class="col-md-2 control-label">教材前言：</label>
                    <div class="col-md-4">
                        <input type="text" id="premsg" class="form-control" placeholder="请输入教材前言" name="premsg">
                    </div>
                </div>
                <div class="form-group">
                    <label for="aftermsg" class="col-md-2 control-label">教材后记：</label>
                    <div class="col-md-4">
                        <input type="text" id="aftermsg" class="form-control" placeholder="请输入教材后记" name="aftermsg">
                    </div>
                </div>
                <div class="form-group">
                    <label for="bookitem" class="col-md-2 control-label">教材特色：</label>
                    <div class="col-md-4">
                        <input type="text" id="bookitem" class="form-control" placeholder="请输入教材特色" name="bookitem">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===6){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <!--教学理念和讲授的注意点-->
        <div id="teachthingsmessage">
            <br>
            <h3>添加教学理念和讲授的注意点：</h3>
            <!--此段代码后期可以删除-->
            <h5 style="color: red;" class="text-center">友情提示：修改请进入具体页面进行！！否则无法生效！</h5>
            <form action="/admin/addteaching" method="post" class="form-horizontal center">
                <div class="form-group">
                    <label for="teachidea" class="col-md-3 control-label">教学理念：</label>
                    <div class="col-md-4">
                        <input type="text" id="teachidea" class="form-control" placeholder="请输入教学理念" name="teachidea">
                    </div>
                </div>
                <div class="form-group">
                    <label for="teachpoints" class="col-md-3 control-label">讲授注意点：</label>
                    <div class="col-md-4">
                        <input type="text" id="teachpoints" class="form-control" placeholder="请输入讲授注意点" name="teachpoints">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===7){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <!--教学日历-->
        <div id="teachcalender">
            <br>
            <h3>添加教学日历：</h3>
            <form action="/admin/addcal" method="post" class="form-horizontal center">
                <div class="form-group">
                    <label for="teachweeks" class="col-md-3 control-label">授课周序：</label>
                    <div class="col-md-4">
                        <input type="text" id="teachweeks" class="form-control" placeholder="请输入授课周序" name="teachweeks">
                    </div>
                </div>
                <div class="form-group">
                    <label for="teaching" class="col-md-3 control-label">教学进程：</label>
                    <div class="col-md-4">
                        <input type="text" id="teaching" class="form-control" placeholder="请输入教学进程" name="teaching">
                    </div>
                </div>
                <div class="form-group">
                    <label for="teacharticle" class="col-md-3 control-label">授课内容：</label>
                    <div class="col-md-4">
                        <input type="text" id="teacharticle" class="form-control" placeholder="请输入授课内容" name="teacharticle">
                    </div>
                </div>
                <div class="form-group">
                    <label for="teachmethod" class="col-md-3 control-label">授课方式：</label>
                    <div class="col-md-4">
                        <input type="text" id="teachmethod" class="form-control" placeholder="请输入授课方式" name="teachmethod">
                    </div>
                </div>
                <div class="form-group">
                    <label for="teachexample" class="col-md-3 control-label">例题：</label>
                    <div class="col-md-4">
                        <input type="text" id="teachexample" class="form-control" placeholder="请输入例题" name="teachexample">
                    </div>
                </div>
                <div class="form-group">
                    <label for="teachexercise" class="col-md-3 control-label">习题：</label>
                    <div class="col-md-4">
                        <input type="text" id="teachexercise" class="form-control" placeholder="请输入习题" name="teachexercise">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===8){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <!--重点难点-->
        <div id="teachdifficulty">
            <br>
            <h3>添加教学重难点：</h3>
            <form action="/admin/addimportant" method="post" class="form-horizontal center">
                <div class="form-group">
                    <label for="charter" class="col-md-3 control-label">章：</label>
                    <div class="col-md-4">
                        <input type="text" id="charter" class="form-control" placeholder="请输入章节" name="charter">
                    </div>
                </div>
                <div class="form-group">
                    <label for="imports" class="col-md-3 control-label">重点：</label>
                    <div class="col-md-4">
                        <input type="text" id="imports" class="form-control" placeholder="请输入重点" name="imports">
                    </div>
                </div>
                <div class="form-group">
                    <label for="difficulty" class="col-md-3 control-label">难点：</label>
                    <div class="col-md-4">
                        <input type="text" id="difficulty" class="form-control" placeholder="请输入难点" name="difficulty">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===9){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <!--课件上传-->
        <div id="courseupload">
            <br>
            <h3>添加教学课件：</h3>
            <form action="/admin/addteachcourse" method="post" enctype="multipart/form-data" class="form-horizontal center">
                <div class="form-group">
                    <label for="teachcourse" class="col-md-5 control-label">上传课件（以教师名命名.ZIP）：</label>
                    <div class="col-md-4">
                        <input type="file" id="teachcourse" class="form-control" name="teachcourse">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:10px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===10){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <!--习题上传-->
        <div id="exerciseupload">
            <br>
            <h3>上传习题及其答案：</h3>
            <form action="/admin/addteachexer" method="post" enctype="multipart/form-data" class="form-horizontal center">
                <div class="form-group">
                    <label for="teachexer" class="col-md-5 control-label">上传习题（doc）：</label>
                    <div class="col-md-4">
                        <input type="file" id="teachexer" class="form-control" name="teachexer">
                    </div>
                </div>
                <div class="form-group">
                    <label for="teachexerans" class="col-md-5 control-label">上传习题答案（doc）：</label>
                    <div class="col-md-4">
                        <input type="file" id="teachexerans" class="form-control" name="teachexerans">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:10px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===11){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <!--教学改革-->
        <div id="teachreformmessage">
            <br>
            <h3>教学改革方案：</h3>
            <h5 style="color: red;" class="text-center">友情提示：修改请进入具体页面进行！！否则无法生效！</h5>

            <form action="/admin/addteachreform" method="post" class="form-horizontal center">
                <div class="form-group">
                    <label for="methodref" class="col-md-3 control-label">教学方法改革：</label>
                    <div class="col-md-4">
                        <input type="text" id="methodref" class="form-control" placeholder="请输入教学方法改革" name="methodref">
                    </div>
                </div>
                <div class="form-group">
                    <label for="testref" class="col-md-3 control-label">考试方法改革：</label>
                    <div class="col-md-4">
                        <input type="text" id="testref" class="form-control" placeholder="请输入考试方法改革" name="testref">
                    </div>
                </div>
                <div class="form-group">
                    <label for="conref" class="col-md-3 control-label">教学管理改革：</label>
                    <div class="col-md-4">
                        <input type="text" id="conref" class="form-control" placeholder="请输入教学管理改革" name="conref">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:10px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===12){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <!--考试改革-->
        <div id="testrefmessage">
            <br>
            <h3>添加考试改革内容：</h3>
            <!--此段代码后期可以删除-->
            <h5 style="color: red;" class="text-center">友情提示：修改请进入具体页面进行！！否则无法生效！</h5>

            <form action="/admin/addtestref" method="post" class="form-horizontal center">
                <div class="form-group">
                    <label for="testarti" class="col-md-3 control-label">考核内容：</label>
                    <div class="col-md-4">
                        <input type="text" id="testarti" class="form-control" placeholder="请输入考核内容" name="testarti">
                    </div>
                </div>
                <div class="form-group">
                    <label for="testmethod" class="col-md-3 control-label">考核方法：</label>
                    <div class="col-md-4">
                        <input type="text" id="testmethod" class="form-control" placeholder="请输入考核方法" name="testmethod">
                    </div>
                </div>
                <div class="form-group">
                    <label for="gradesave" class="col-md-3 control-label">成绩记载方法：</label>
                    <div class="col-md-4">
                        <input type="text" id="gradesave" class="form-control" placeholder="请输入成绩记载方法" name="gradesave">
                    </div>
                </div>
                <div class="form-group">
                    <label for="testingmethod" class="col-md-3 control-label">考试命题方法：</label>
                    <div class="col-md-4">
                        <input type="text" id="testingmethod" class="form-control" placeholder="请输入考试命题方法" name="testingmethod">
                    </div>
                </div>
                <div class="form-group">
                    <label for="testchacr" class="col-md-3 control-label">考核方式的特色：</label>
                    <div class="col-md-4">
                        <input type="text" id="testchacr" class="form-control" placeholder="请输入考核方式的特色" name="testchacr">
                    </div>
                </div>
                <div class="form-group">
                    <label for="testrefplan" class="col-md-3 control-label">改革计划：</label>
                    <div class="col-md-4">
                        <input type="text" id="testrefplan" class="form-control" placeholder="请输入改革计划" name="testrefplan">
                    </div>
                </div>
                <div class="form-group">
                    <label for="testadvan" class="col-md-3 control-label">网上考试自动评分系统的特点和优势：</label>
                    <div class="col-md-4">
                        <input type="text" id="testadvan" class="form-control" placeholder="请输入网上考试自动评分系统的特点和优势" name="testadvan">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===13){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <!--网络教学-->
        <div id="intertestmessage">
            <br>
            <h3>添加网络教学内容：</h3>
            <!--此段代码后期可以删除-->
            <h5 style="color: red;" class="text-center">友情提示：修改请进入具体页面进行！！否则无法生效！</h5>

            <form action="/admin/addinterteach" method="post" class="form-horizontal center">
                <div class="form-group">
                    <label for="ingcharacter" class="col-md-3 control-label">在线教学网站特色：</label>
                    <div class="col-md-4">
                        <input type="text" id="ingcharacter" class="form-control" placeholder="请输入在线教学网站特色" name="ingcharacter">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inglink" class="col-md-3 control-label">在线教学网站链接：</label>
                    <div class="col-md-4">
                        <input type="text" id="inglink" class="form-control" placeholder="请输入在线教学网站链接" name="inglink">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===14){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <!--添加教材建设成果图片-->
        <div id="booksimgmessage">
            <br>
            <h3>添加教材建设成果图片：</h3>
            <form action="/admin/addachieveimg" method="post" enctype="multipart/form-data" class="form-horizontal center">
                <div class="form-group">
                    <label for="bookimg" class="col-md-5 control-label">添加图片(可以上传多个)：</label>
                    <div class="col-md-4">
                        <input type="file" id="bookimg" class="form-control" name="bookimg">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===15){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <!--添加论文-->
        <div id="thesismessage">
            <br>
            <h3>添加论文：</h3>
            <form action="/admin/addthesis" method="post" class="form-horizontal center">
                <div class="form-group">
                    <label for="thesisauthor" class="col-md-5 control-label">作者：</label>
                    <div class="col-md-4">
                        <input type="text" id="thesisauthor" class="form-control" name="thesisauthor">
                    </div>
                </div>
                <div class="form-group">
                    <label for="thesistitle" class="col-md-5 control-label">题目：</label>
                    <div class="col-md-4">
                        <input type="text" id="thesistitle" class="form-control" name="thesistitle">
                    </div>
                </div>
                <div class="form-group">
                    <label for="thesismage" class="col-md-5 control-label">杂志名称：</label>
                    <div class="col-md-4">
                        <input type="text" id="thesismage" class="form-control" name="thesismage">
                    </div>
                </div>
                <div class="form-group">
                    <label for="thesisdate" class="col-md-5 control-label">日期：</label>
                    <div class="col-md-4">
                        <input type="text" id="thesisdate" class="form-control" name="thesisdate">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===16){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <!--添加教学成果奖及证书-->
        <div id="teachievemessage">
            <br>
            <h3>添加教学成果奖及证书：</h3>
            <form action="/admin/addteachieve" method="post" class="form-horizontal center">
                <div class="form-group">
                    <label for="teachieveartile" class="col-md-5 control-label">内容：</label>
                    <div class="col-md-4">
                        <input type="text" id="teachieveartile" placeholder="请输入内容" class="form-control" name="teachieveartile">
                    </div>
                </div>
                <div class="form-group">
                    <label for="teachieveaward" class="col-md-5 control-label">奖项：</label>
                    <div class="col-md-4">
                        <input type="text" id="teachieveaward" placeholder="请输入奖项" class="form-control" name="teachieveaward">
                    </div>
                </div>
                <div class="form-group">
                    <label for="teachievedate" class="col-md-5 control-label">日期：</label>
                    <div class="col-md-4">
                        <input type="text" id="teachievedate" placeholder="请输入日期" class="form-control" name="teachievedate">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===17){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <div id="mastermessage">
            <br>
            <h3>添加硕士生论文：</h3>
            <form action="/admin/addmaster" method="post" class="form-horizontal center">
                <div class="form-group">
                    <label for="mastername" class="col-md-5 control-label">作者：</label>
                    <div class="col-md-4">
                        <input type="text" id="mastername" placeholder="请输入作者" class="form-control" name="mastername">
                    </div>
                </div>
                <div class="form-group">
                    <label for="mastertitle" class="col-md-5 control-label">论文题目：</label>
                    <div class="col-md-4">
                        <input type="text" id="mastertitle" placeholder="请输入论文题目" class="form-control" name="mastertitle">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===18){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <div id="doublelanteachmessage">
            <br>
            <h3>添加双语教学教师信息：</h3>
            <form action="/admin/adddoubleteacher" method="post" class="form-horizontal center">
                <div class="form-group">
                    <label for="doubleteachername" class="col-md-5 control-label">姓名：</label>
                    <div class="col-md-4">
                        <input type="text" id="doubleteachername" placeholder="请输入姓名" class="form-control" name="doubleteachername">
                    </div>
                </div>
                <div class="form-group">
                    <label for="doubleteachersex" class="col-md-5 control-label">性别：</label>
                    <div class="col-md-4">
                        <input type="text" id="doubleteachersex" placeholder="请输入性别" class="form-control" name="doubleteachersex">
                    </div>
                </div>
                <div class="form-group">
                    <label for="doubleteacherbirth" class="col-md-5 control-label">出生年月：</label>
                    <div class="col-md-4">
                        <input type="text" id="doubleteacherbirth" placeholder="请输入出生年月" class="form-control" name="doubleteacherbirth">
                    </div>
                </div>
                <div class="form-group">
                    <label for="doubleteacherposts" class="col-md-5 control-label">职务：</label>
                    <div class="col-md-4">
                        <input type="text" id="doubleteacherposts" placeholder="请输入职务" class="form-control" name="doubleteacherposts">
                    </div>
                </div>
                <div class="form-group">
                    <label for="doubleteacherprofession" class="col-md-5 control-label">学科专业：</label>
                    <div class="col-md-4">
                        <input type="text" id="doubleteacherprofession" placeholder="请输入学科专业" class="form-control" name="doubleteacherprofession">
                    </div>
                </div>
                <div class="form-group">
                    <label for="doubleteacherwork" class="col-md-5 control-label">教学中的工作：</label>
                    <div class="col-md-4">
                        <input type="text" id="doubleteacherwork" placeholder="请输入教学中的工作" class="form-control" name="doubleteacherwork">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===19){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <div id="doublebookmessage">
            <br>
            <h3>添加双语教材信息：</h3>
            <form action="/admin/adddoublebook" method="post" class="form-horizontal center">
                <div class="form-group">
                    <label for="doublebookname" class="col-md-5 control-label">教材名称：</label>
                    <div class="col-md-4">
                        <input type="text" id="doublebookname" placeholder="请输入教材名称" class="form-control" name="doublebookname">
                    </div>
                </div>
                <div class="form-group">
                    <label for="doublebookpub" class="col-md-5 control-label">出版社：</label>
                    <div class="col-md-4">
                        <input type="text" id="doublebookpub" placeholder="请输入出版社" class="form-control" name="doublebookpub">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===20){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <div id="doublewaremessage">
            <br>
            <h3>添加双语教学课件：</h3>
            <form action="/admin/adddoubleware" enctype="multipart/form-data" method="post" class="form-horizontal center">
                <div class="form-group">
                    <label for="doubleware" class="col-md-5 control-label">上传课件(.ZIP)：</label>
                    <div class="col-md-4">
                        <input type="file" id="doubleware" class="form-control" name="doubleware">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===21){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <div id="doublerefmessage">
            <br>
            <h3>添加双语教学参考文献：</h3>
            <form action="/admin/adddoubleref" method="post" class="form-horizontal center">
                <div class="form-group">
                    <label for="doubleref" class="col-md-5 control-label">参考文献：</label>
                    <div class="col-md-4">
                        <input type="text" id="doubleref" placeholder="请输入参考文献" class="form-control" name="doubleref">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===22){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <div id="doublecoursemessage">
            <br>
            <h3>添加双语教学习题：</h3>
            <form action="/admin/adddoublecourse" enctype="multipart/form-data" method="post" class="form-horizontal center">
                <div class="form-group">
                    <label for="doublecourse" class="col-md-5 control-label">习题（docx）：</label>
                    <div class="col-md-4">
                        <input type="file" id="doublecourse"  class="form-control" name="doublecourse">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===23){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <div id="doubletestmessage">
            <br>
            <h3>添加双语教学试卷：</h3>
            <form action="/admin/adddoubletest" enctype="multipart/form-data" method="post" class="form-horizontal center">
                <div class="form-group">
                    <label for="doubletest" class="col-md-5 control-label">试卷(文档)：</label>
                    <div class="col-md-4">
                        <input type="file" id="doubletest"  class="form-control" name="doubletest">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===24){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <div id="testteachmessage">
            <br>
            <h3>添加实验教学信息：</h3>
            <!--此代码后期删除-->
            <h5 style="color: red;" class="text-center">友情提示：修改请进入具体页面进行！！否则无法生效！</h5>
            <form action="/admin/addtestteach" method="post" class="form-horizontal center">
                <div class="form-group">
                    <label for="testguiding" class="col-md-5 control-label">指导思想：</label>
                    <div class="col-md-4">
                        <input type="text" id="testguiding"  class="form-control" name="testguiding">
                    </div>
                </div>
                <div class="form-group">
                    <label for="testdesigin" class="col-md-5 control-label">课程设计：</label>
                    <div class="col-md-4">
                        <input type="text" id="testdesigin"  class="form-control" name="testdesigin">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===25){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <div id="testwaremessage">
            <br>
            <h3>添加实验教学课件：</h3>
            <form action="/admin/addtestware" enctype="multipart/form-data" method="post" class="form-horizontal center">
                <div class="form-group">
                    <label for="testware" class="col-md-5 control-label">实验教学课件(.ZIP)：</label>
                    <div class="col-md-4">
                        <input type="file" id="testware"  class="form-control" name="testware">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===26){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <div id="testcoursemessage">
            <br>
            <h3>添加实验教学学生实践作业：</h3>
            <form action="/admin/addtestcourse" enctype="multipart/form-data" method="post" class="form-horizontal center">
                <div class="form-group">
                    <label for="testauthor" class="col-md-5 control-label">学生姓名：</label>
                    <div class="col-md-4">
                        <input type="text" id="testauthor"  class="form-control" name="testauthor">
                    </div>
                </div>
                <div class="form-group">
                    <label for="testname" class="col-md-5 control-label">学生作业(文档)：</label>
                    <div class="col-md-4">
                        <input type="file" id="testname"  class="form-control" name="testname">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===27){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <div id="testtitlemessage">
            <br>
            <h3>上传实验教学题目及答案：</h3>
            <form action="/admin/addtesttitle" method="post" enctype="multipart/form-data" class="form-horizontal center">
                <div class="form-group">
                    <label for="testtitlename" class="col-md-5 control-label">上传习题（doc）：</label>
                    <div class="col-md-4">
                        <input type="file" id="testtitlename" class="form-control" name="testtitlename">
                    </div>
                </div>
                <div class="form-group">
                    <label for="testtitleans" class="col-md-5 control-label">上传习题答案（doc）：</label>
                    <div class="col-md-4">
                        <input type="file" id="testtitleans" class="form-control" name="testtitleans">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:10px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===28){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <div id="testexamplemessage">
            <br>
            <h3>上传综合实例：</h3>
            <form action="/admin/addtestexample" method="post" enctype="multipart/form-data" class="form-horizontal center">
                <div class="form-group">
                    <label for="testexamplename" class="col-md-5 control-label">上传题目（doc）：</label>
                    <div class="col-md-4">
                        <input type="file" id="testexamplename" class="form-control" name="testexamplename">
                    </div>
                </div>
                <div class="form-group">
                    <label for="testexampleans" class="col-md-5 control-label">上传答案（doc）：</label>
                    <div class="col-md-4">
                        <input type="file" id="testexampleans" class="form-control" name="testexampleans">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:10px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===29){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <!--教学管理-->
        <div id="teachievemsgmessage">
            <br>
            <h3>添加教学管理信息：</h3>
            <form action="/admin/addteachcontromessage" method="post" class="form-horizontal center">
                <div class="form-group">
                    <label for="teachcontroll" class="col-md-5 control-label">教学管理信息导航：</label>
                    <div class="col-md-4">
                        <input type="text" id="teachcontroll" placeholder="请输入教学管理信息导航" class="form-control" name="teachcontroll">
                    </div>
                </div>
                <div class="form-group">
                    <label for="teachcontromsg" class="col-md-5 control-label">教学管理信息：</label>
                    <div class="col-md-4">
                        <input type="text" id="teachcontromsg" placeholder="请输入教学管理信息" class="form-control" name="teachcontromsg">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===30){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <!--教学效果-->
        <div id="teachconmsgmessage">
            <br>
            <h3>添加教学效果信息：</h3>
            <form action="/admin/addteachievemessage" method="post" class="form-horizontal center">
                <div class="form-group">
                    <label for="teachachieve" class="col-md-5 control-label">教学效果信息导航：</label>
                    <div class="col-md-4">
                        <input type="text" id="teachachieve" placeholder="请输入教学效果信息导航" class="form-control" name="teachachieve">
                    </div>
                </div>
                <div class="form-group">
                    <label for="teachachievemsg" class="col-md-5 control-label">教学效果信息：</label>
                    <div class="col-md-4">
                        <input type="text" id="teachachievemsg" placeholder="请输入教学效果信息" class="form-control" name="teachachievemsg">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===31){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <!--上传教学视频-->

</div>







</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/test/details.js"></script>
</body>
</html>