<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/test/details.css">
    <title>Title</title>
</head>
<body>
<div class="firstwid">
    <div class="container">
        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6">
            <img src="/img/top1_r1_c1.gif" alt="..">
        </div>
        <div class="col-lg-6 character">
            后台管理系统
            <button id="back" class="btn btn-danger">退出</button>
        </div>
    </div>
    <!--题库操作部分-->
    <div class="container">
        <ul class="nav nav-pills">
            <li role="presentation"><a href="/admin/details">操作数据库</a></li>
            <li role="presentation"><a href="/admin/admin" target="_blank">用户列表</a></li>
            <li role="presentation"><a href="/admin/test" target="_blank">题库</a></li>
            <li role="presentation"><a href="/admin/site" target="_blank">网址库</a></li>
            <li role="presentation"><a href="/admin/teacher" target="_blank">教师信息库</a></li>
            <li role="presentation"><a href="/admin/class" target="_blank">课程信息库</a></li>
            <li role="presentation"><a href="/admin/build" target="_blank">教材建设信息库</a></li>
            <li role="presentation"><a href="/admin/summary" target="_blank">教材简介信息库</a></li>
            <li role="presentation"><a href="/admin/refe" target="_blank">参考教材信息库</a></li>
            <li role="presentation"><a href="/admin/teachmsg" target="_blank">教学信息库</a></li>
            <li role="presentation"><a href="/admin/calendermsg" target="_blank">教学日历库</a></li>
            <li role="presentation"><a href="/admin/coursemsg" target="_blank">教学课件库</a></li>
            <li role="presentation"><a href="/admin/exercisemsg" target="_blank">作业习题库</a></li>
            <li role="presentation"><a href="/admin/important" target="_blank">章节中重难点库</a></li>
            <li role="presentation"><a href="/admin/teachreforms" target="_blank">教学改革库</a></li>
            <li role="presentation"><a href="/admin/testref" target="_blank">考试改革库</a></li>
        </ul>
        <div>
        <h3>添加题目模块：</h3>
        <form action="/admin/addtest" method="post" class="form-horizontal center">
        <div class="form-group">
            <label for="ask" class="col-md-2 control-label">题目内容：</label>
            <div class="col-md-4">
                <input type="text" id="ask" class="form-control" placeholder="请输入题目内容" name="ask">
            </div>
        </div>
        <div class="form-group">
            <label for="answers1" class="col-md-2 control-label">选项A：</label>
            <div class="col-md-4">
                <input type="text" id="answers1" class="form-control" placeholder="题目选项1" name="answers1">
            </div>
        </div>
        <div class="form-group">
            <label for="answers2" class="col-md-2 control-label">选项B：</label>
            <div class="col-md-4">
                <input type="text" id="answers2" class="form-control" placeholder="题目选项2" name="answers2">
            </div>
        </div>
        <div class="form-group">
            <label for="answers3" class="col-md-2 control-label">选项C：</label>
            <div class="col-md-4">
                <input type="text" id="answers3" class="form-control" placeholder="题目选项3" name="answers3">
            </div>
        </div>
        <div class="form-group">
            <label for="answers4" class="col-md-2 control-label">选项D：</label>
            <div class="col-md-4">
                <input type="text" id="answers4" class="form-control" placeholder="题目选项4" name="answers4">
            </div>
        </div>
        <div class="form-group">
            <label for="rightanswer" class="col-md-2 control-label">答案：</label>
            <div class="col-md-4">
                <input type="text" id="rightanswer" class="form-control" placeholder="请输入正确答案" name="rightanswer">
            </div>
        </div>
        <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
            <button class="btn btn-primary" type="submit">确认添加</button>
        </div>
            <%if(mes.statusCode===0){%>
            <p class="msg"><%=mes.msg%></p>
            <%}%>
    </form>
        </div>
        <!--设置其他模块的后台操作-->
        <div>
            <br>
        <h3>添加网址模块：</h3>
        <form action="/admin/addsite" method="post" class="form-horizontal center">
            <div class="form-group">
                <label for="site" class="col-md-2 control-label">网址：</label>
                <div class="col-md-4">
                    <input type="text" id="site" class="form-control" placeholder="请输入网址" name="site">
                </div>
            </div>
            <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
                <button class="btn btn-primary" type="submit">确认添加</button>
            </div>
            <%if(mes.statusCode===1){%>
            <p class="msg"><%=mes.msg%></p>
            <%}%>
        </form>
        </div>
        <!--教师信息-->
        <div>
            <br>
            <h3>添加教师模块：</h3>
            <form action="/admin/addteacher" method="post" enctype="multipart/form-data" class="form-horizontal center">
                <div class="form-group">
                    <label for="teachname" class="col-md-2 control-label">姓名：</label>
                    <div class="col-md-4">
                        <input type="text" id="teachname" class="form-control" placeholder="请输入教师姓名" name="teachname">
                    </div>
                </div>
                <div class="form-group">
                    <label for="teachsex" class="col-md-2 control-label">性别：</label>
                    <div class="col-md-4">
                        <input type="text" id="teachsex" class="form-control" placeholder="请输入教师性别" name="teachsex">
                    </div>
                </div>
                <div class="form-group">
                    <label for="teachbir" class="col-md-2 control-label">出生年月：</label>
                    <div class="col-md-4">
                        <input type="text" id="teachbir" class="form-control" placeholder="请输入教师出生年月" name="teachbir">
                    </div>
                </div>
                <div class="form-group">
                    <label for="teachacade" class="col-md-2 control-label">职称：</label>
                    <div class="col-md-4">
                        <input type="text" id="teachacade" class="form-control" placeholder="请输入教师职称" name="teachacade">
                    </div>
                </div>
                <div class="form-group">
                    <label for="teachtel" class="col-md-2 control-label">电话：</label>
                    <div class="col-md-4">
                        <input type="text" id="teachtel" class="form-control" placeholder="请输入电话" name="teachtel">
                    </div>
                </div>
                <div class="form-group">
                    <label for="teachemail" class="col-md-2 control-label">邮箱：</label>
                    <div class="col-md-4">
                        <input type="text" id="teachemail" class="form-control" placeholder="请输入email" name="teachemail">
                    </div>
                </div>
                <div class="form-group">
                    <label for="teachabs" class="col-md-2 control-label">简介：</label>
                    <div class="col-md-4">
                        <input type="text" id="teachabs" class="form-control" placeholder="请输入教师简介" name="teachabs">
                    </div>
                </div>
                <div class="form-group">
                    <label for="file" class="col-lg-2 control-label">上传教师图片:</label>
                    <div class="col-md-4">
                        <input type="file" name="file" id="file" class="form-control">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===2){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <!--课程信息模块-->
        <div>
            <br>
            <h3>添加课程模块：</h3>
            <h5 style="color: red;" class="text-center">友情提示：修改请进入具体页面进行！！否则无法生效！</h5>
            <form action="/admin/addclass" method="post" class="form-horizontal center">
                <div class="form-group">
                    <label for="classmsg" class="col-md-2 control-label">课程简介：</label>
                    <div class="col-md-4">
                        <input type="text" id="classmsg" class="form-control" placeholder="请输入课程信息" name="classmsg">
                    </div>
                </div>
                <div class="form-group">
                    <label for="feater" class="col-md-2 control-label">课程特色：</label>
                    <div class="col-md-4">
                        <input type="text" id="feater" class="form-control" placeholder="请输入课程特色" name="feater">
                    </div>
                </div>
                <div class="form-group">
                    <label for="teaching" class="col-md-2 control-label">教学理念：</label>
                    <div class="col-md-4">
                        <input type="text" id="teaching" class="form-control" placeholder="请输入教学理念" name="teaching">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===3){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <!--教材建设历程-->
        <div>
            <br>
            <h3>添加教材建设模块：</h3>
            <form action="/admin/addbuild" method="post" class="form-horizontal center">
                <div class="form-group">
                    <label for="author" class="col-md-2 control-label">作者：</label>
                    <div class="col-md-4">
                        <input type="text" id="author" class="form-control" placeholder="请输入作者姓名" name="author">
                    </div>
                </div>
                <div class="form-group">
                    <label for="bookname" class="col-md-2 control-label">教材名称：</label>
                    <div class="col-md-4">
                        <input type="text" id="bookname" class="form-control" placeholder="请输入教材名称" name="bookname">
                    </div>
                </div>
                <div class="form-group">
                    <label for="publish" class="col-md-2 control-label">出版社：</label>
                    <div class="col-md-4">
                        <input type="text" id="publish" class="form-control" placeholder="请输入出版社名称" name="publish">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===4){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <!--参考书信息-->
        <div>
            <br>
            <h3>添加参考书信息模块：</h3>
            <form action="/admin/addreferen" method="post" class="form-horizontal center">
                <div class="form-group">
                    <label for="bookmsg" class="col-md-2 control-label">图书信息：</label>
                    <div class="col-md-4">
                        <input type="text" id="bookmsg" class="form-control" placeholder="请输入图书信息" name="bookmsg">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===5){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <!--教材简介信息-->
        <div>
            <br>
            <h3>添加教材简介信息模块：</h3>
            <!--此段代码后期可以删除-->
            <form action="/admin/addsummary" method="post" class="form-horizontal center">
                <div class="form-group">
                    <label for="booksum" class="col-md-2 control-label">教材简介：</label>
                    <div class="col-md-4">
                        <input type="text" id="booksum" class="form-control" placeholder="请输入教材简介信息" name="booksum">
                    </div>
                </div>
                <div class="form-group">
                    <label for="premsg" class="col-md-2 control-label">教材前言：</label>
                    <div class="col-md-4">
                        <input type="text" id="premsg" class="form-control" placeholder="请输入教材前言" name="premsg">
                    </div>
                </div>
                <div class="form-group">
                    <label for="aftermsg" class="col-md-2 control-label">教材后记：</label>
                    <div class="col-md-4">
                        <input type="text" id="aftermsg" class="form-control" placeholder="请输入教材后记" name="aftermsg">
                    </div>
                </div>
                <div class="form-group">
                    <label for="bookitem" class="col-md-2 control-label">教材特色：</label>
                    <div class="col-md-4">
                        <input type="text" id="bookitem" class="form-control" placeholder="请输入教材特色" name="bookitem">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===6){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <!--教学理念和讲授的注意点-->
        <div>
            <br>
            <h3>添加教学理念和讲授的注意点：</h3>
            <!--此段代码后期可以删除-->
            <form action="/admin/addteaching" method="post" class="form-horizontal center">
                <div class="form-group">
                    <label for="teachidea" class="col-md-3 control-label">教学理念：</label>
                    <div class="col-md-4">
                        <input type="text" id="teachidea" class="form-control" placeholder="请输入教学理念" name="teachidea">
                    </div>
                </div>
                <div class="form-group">
                    <label for="teachpoints" class="col-md-3 control-label">讲授注意点：</label>
                    <div class="col-md-4">
                        <input type="text" id="teachpoints" class="form-control" placeholder="请输入讲授注意点" name="teachpoints">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===7){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <!--教学日历-->
        <div>
            <br>
            <h3>添加教学日历：</h3>
            <form action="/admin/addcal" method="post" class="form-horizontal center">
                <div class="form-group">
                    <label for="teachweeks" class="col-md-3 control-label">授课周序：</label>
                    <div class="col-md-4">
                        <input type="text" id="teachweeks" class="form-control" placeholder="请输入授课周序" name="teachweeks">
                    </div>
                </div>
                <div class="form-group">
                    <label for="teaching" class="col-md-3 control-label">教学进程：</label>
                    <div class="col-md-4">
                        <input type="text" id="teaching" class="form-control" placeholder="请输入教学进程" name="teaching">
                    </div>
                </div>
                <div class="form-group">
                    <label for="teacharticle" class="col-md-3 control-label">授课内容：</label>
                    <div class="col-md-4">
                        <input type="text" id="teacharticle" class="form-control" placeholder="请输入授课内容" name="teacharticle">
                    </div>
                </div>
                <div class="form-group">
                    <label for="teachmethod" class="col-md-3 control-label">授课方式：</label>
                    <div class="col-md-4">
                        <input type="text" id="teachmethod" class="form-control" placeholder="请输入授课方式" name="teachmethod">
                    </div>
                </div>
                <div class="form-group">
                    <label for="teachexample" class="col-md-3 control-label">例题：</label>
                    <div class="col-md-4">
                        <input type="text" id="teachexample" class="form-control" placeholder="请输入例题" name="teachexample">
                    </div>
                </div>
                <div class="form-group">
                    <label for="teachexercise" class="col-md-3 control-label">习题：</label>
                    <div class="col-md-4">
                        <input type="text" id="teachexercise" class="form-control" placeholder="请输入习题" name="teachexercise">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===8){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <!--重点难点-->
        <div>
            <br>
            <h3>添加教学重难点：</h3>
            <form action="/admin/addimportant" method="post" class="form-horizontal center">
                <div class="form-group">
                    <label for="charter" class="col-md-3 control-label">章：</label>
                    <div class="col-md-4">
                        <input type="text" id="charter" class="form-control" placeholder="请输入章节" name="charter">
                    </div>
                </div>
                <div class="form-group">
                    <label for="imports" class="col-md-3 control-label">重点：</label>
                    <div class="col-md-4">
                        <input type="text" id="imports" class="form-control" placeholder="请输入重点" name="imports">
                    </div>
                </div>
                <div class="form-group">
                    <label for="difficulty" class="col-md-3 control-label">难点：</label>
                    <div class="col-md-4">
                        <input type="text" id="difficulty" class="form-control" placeholder="请输入难点" name="difficulty">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===9){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <!--课件上传-->
        <div>
            <br>
            <h3>添加教学课件：</h3>
            <form action="/admin/addteachcourse" method="post" enctype="multipart/form-data" class="form-horizontal center">
                <div class="form-group">
                    <label for="teachcourse" class="col-md-5 control-label">上传课件（以教师名命名）：</label>
                    <div class="col-md-4">
                        <input type="file" id="teachcourse" class="form-control" name="teachcourse">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:10px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===10){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <!--习题上传-->
        <div>
            <br>
            <h3>上传习题及其答案：</h3>
            <form action="/admin/addteachexer" method="post" enctype="multipart/form-data" class="form-horizontal center">
                <div class="form-group">
                    <label for="teachexer" class="col-md-5 control-label">上传习题（doc）：</label>
                    <div class="col-md-4">
                        <input type="file" id="teachexer" class="form-control" name="teachexer">
                    </div>
                </div>
                <div class="form-group">
                    <label for="teachexerans" class="col-md-5 control-label">上传习题答案（doc）：</label>
                    <div class="col-md-4">
                        <input type="file" id="teachexerans" class="form-control" name="teachexerans">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:10px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===11){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <!--教学改革-->
        <div>
            <br>
            <h3>教学改革方案：</h3>
            <form action="/admin/addteachreform" method="post" class="form-horizontal center">
                <div class="form-group">
                    <label for="methodref" class="col-md-3 control-label">教学方法改革：</label>
                    <div class="col-md-4">
                        <input type="text" id="methodref" class="form-control" placeholder="请输入教学方法改革" name="methodref">
                    </div>
                </div>
                <div class="form-group">
                    <label for="testref" class="col-md-3 control-label">考试方法改革：</label>
                    <div class="col-md-4">
                        <input type="text" id="testref" class="form-control" placeholder="请输入考试方法改革" name="testref">
                    </div>
                </div>
                <div class="form-group">
                    <label for="conref" class="col-md-3 control-label">教学管理改革：</label>
                    <div class="col-md-4">
                        <input type="text" id="conref" class="form-control" placeholder="请输入教学管理改革" name="conref">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:10px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===12){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
        <!--考试改革-->
        <div>
            <br>
            <h3>添加考试改革内容：</h3>
            <!--此段代码后期可以删除-->
            <form action="/admin/addtestref" method="post" class="form-horizontal center">
                <div class="form-group">
                    <label for="testarti" class="col-md-3 control-label">考核内容：</label>
                    <div class="col-md-4">
                        <input type="text" id="testarti" class="form-control" placeholder="请输入考核内容" name="testarti">
                    </div>
                </div>
                <div class="form-group">
                    <label for="testmethod" class="col-md-3 control-label">考核方法：</label>
                    <div class="col-md-4">
                        <input type="text" id="testmethod" class="form-control" placeholder="请输入考核方法" name="testmethod">
                    </div>
                </div>
                <div class="form-group">
                    <label for="gradesave" class="col-md-3 control-label">成绩记载方法：</label>
                    <div class="col-md-4">
                        <input type="text" id="gradesave" class="form-control" placeholder="请输入成绩记载方法" name="gradesave">
                    </div>
                </div>
                <div class="form-group">
                    <label for="testingmethod" class="col-md-3 control-label">考试命题方法：</label>
                    <div class="col-md-4">
                        <input type="text" id="testingmethod" class="form-control" placeholder="请输入考试命题方法" name="testingmethod">
                    </div>
                </div>
                <div class="form-group">
                    <label for="testchacr" class="col-md-3 control-label">考核方式的特色：</label>
                    <div class="col-md-4">
                        <input type="text" id="testchacr" class="form-control" placeholder="请输入考核方式的特色" name="testchacr">
                    </div>
                </div>
                <div class="form-group">
                    <label for="testrefplan" class="col-md-3 control-label">改革计划：</label>
                    <div class="col-md-4">
                        <input type="text" id="testrefplan" class="form-control" placeholder="请输入改革计划" name="testrefplan">
                    </div>
                </div>
                <div class="form-group">
                    <label for="testadvan" class="col-md-3 control-label">网上考试自动评分系统的特点和优势：</label>
                    <div class="col-md-4">
                        <input type="text" id="testadvan" class="form-control" placeholder="请输入网上考试自动评分系统的特点和优势" name="testadvan">
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-4" style="padding-left:4px;">
                    <button class="btn btn-primary" type="submit">确认添加</button>
                </div>
                <%if(mes.statusCode===13){%>
                <p class="msg"><%=mes.msg%></p>
                <%}%>
            </form>
        </div>
</div>







</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/test/details.js"></script>
</body>
</html>